.container {
    text-align: center;
    margin-top: 50px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
}

ul {
    list-style-type: none;
}

.fighter-photo {
    width: 50px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    margin-left: 10px; /* Adjust as needed */
}
